*{
    margin: 0;
    padding: auto;
}
h2 {
    font-size: 35px;
    text-align: center;
    margin: auto;
    width: 300px;
    margin-top: 30px;
    color: rgb(255, 208, 88);
    color: white color=white;
    text-shadow: black 0.1em 0.1em 0.12em
}

.imges {
    margin-top: 50px;
    text-align: center;
}

.imges img {
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.text {
    text-align: center;
    margin-top: 10px;
}

.edu {
    text-align: center;
    margin-top: 10px;
    margin: 30px 0 50px 0;
}

.con {
    text-align: center;
    margin-top: 10px;
    margin: 30px 0 50px 0;
}
.conten{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    justify-content: center; /*จัดให้มันอยู่กลาง*/
}


.pro{
    background-color: rgba(148, 148, 30, 0);
    margin-top: 50px;
    margin-right: 0;
    width: 500px;
    height: 230px;
    float: left;
    justify-content: center;
    
}
.educat{
    background-color: rgba(87, 87, 84, 0);
    margin-top: 50px; /*ห่างจากบน*/
    justify-content: center; 
    width: 500px;
    height: 230px;
    float: left; /*ให้มันลอยมาติดกับข้างบน*/
}

.ked{
    justify-content: center;
    margin-top: auto;
}

.contacts{
    margin-top: 50px;
}

.clearfix{
    clear: both;
}

.bobbies{
    text-align: center;
    margin-top: 40px;
}
.hobbies{
    float: left;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
}

.boo{
    padding: 6px;
    font-size: 42px;
}

h3 {
    font-size: 20px;
    margin: auto;
    text-align: center;
    color: rgb(0, 0, 0);
}

.hob{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}